!!!
html
  head
    title= 'Az7ar'
    meta(charset='utf-8')
    link(rel="shortcut icon", href="/favicon.ico")
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/app.css')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand#az-brand(href='/')
            img#az-logo(src='/images/logo.png', height='60', weidth='90')
            span 's Blog

    .wrap
      .container
        .row
          .span8
            block content
          .span4
            .well.sidebar-nav
              ul.nav.nav-list
                li.nav-header categories
                - each cat in categoryList
                  li
                    a(href=categoryUrl(cat)) #{cat}
                li.nav-header tags
                - each tag in tagList
                  li
                    a(href=tagUrl(tag)) #{tag}

  script(type='text/javascript', src='/javascripts/analytics.js')
  footer.footer#footer
    .container
      p#copy
        | Copyright ©  Az7ar 2013